.ask {
    min-width: 100%;
    background: url("../images/bg-header.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    &__logo {
        padding-top: 60px;
        padding-left: 15px;
    }


    &__header {
        font-family: "Lato";
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 76px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $text-main;
        margin-top: 100px;
        margin-bottom: 18px;
    }

    &__desc {
        font-family: "Lato";
        font-size: 22px;
        line-height: 36px;
    }

    @media screen and(max-width: 1024px){
        &__header {
            margin-top: 10px;
        }
    }

    @media screen and(max-width: 768px){
        &__header {
            margin-top: 30px;
            font-size: 40px;
        }
    }

    @media screen and(max-width: 414px) {
        &__header {
            margin-top: 5px;
            font-size: 34px;
        }

        &__logo {
            padding-top: 20px;
        }
    }

    @media screen and(max-width: 375px){
        &__header {
            line-height: 57px;
            font-size: 31px;
        }
    }


}