.footer {
    min-width: 100%;
    background: $text-main;

    &__logo {
        margin-top: 28px;
    }

    &__contacts {
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__contacts p,
    &__contacts-tel {
        font-family: "Lato";
        font-size: 16px;
        line-height: 200%;
        color: rgba(255, 255, 255, 0.7);
    }

    &__contacts-tel {
        font-weight: bold;
    }

    &__line {
        width: 1600px;
        height: 1px;
        background: rgba(255, 255, 255, 0.4);
        margin-bottom: 20px;
    }

    &__politics p,
    &__rights p{
        font-family: "Lato";
        font-size: 16px;
        line-height: 200%;
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.7);
    }

    &__politics {
        display: flex;
        justify-content: flex-end;
    }

    @media screen and(max-width: 1024px) {
        &__line {
            width: 1024px;
        }
    }

    @media screen and(max-width: 768px) {
        &__line {
            width: 760px;
        }
    }
    @media screen and(max-width: 415px) {
        &__line {
            width: 410px;
        }
    }
    @media screen and(max-width: 376px) {
        &__line {
            width: 370px;
        }
    }
    @media screen and(max-width: 320px) {
        &__line {
            width: 315px;
        }

        &__contacts {
          min-width: 100%;
          flex-direction: column;
          align-items: flex-start;
        }
    }
}
