.steps {
    min-width: 100%;

    &__header {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 55px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $text-main;
        margin-top: 100px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    &__info:first-child img {
        margin-bottom: 14px;
    }

    &__info p {
        margin-top: 30px;
        text-align: center;
        font-family: "Lato";
        font-size: 18px;
        line-height: 28px;
        color: $gray;
    }

    &__numbers {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__number {
        width: 50px;
        height: 50px;
        background-color: #D2E3FF;
        border-radius: 50%;
    } 

    &__number1,
    &__number2,
    &__number3 {
        background-color: $main-blue;
    }

    &__number span {
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        font-size: 28px;
        line-height: 55px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white;
        padding-left: 17px
    }

    &__number1:after,
    &__number2:after  {
        content: " ";
        display: inline-block;
        width: 360px;
        height: 8px;
        background-color: #0063FF;
        border-radius: 5px;
        border: none;
        margin-left: 12px;
        position: absolute;
        top: 22px;
        animation-name: grow;
        animation-delay: 1s;
        animation-duration: 1s;
        transition: background-color width 1s ease-in-out;
    }

    &__number2:after {
        animation-delay: 2s;
    }

    @keyframes grow{
        from{
            width: 0px;
        }
        
        to {
            width: 360px;
        }
    }



    @media screen and(max-width: 1024px) {
        &__number1:after,
        &__number2:after {
            width: 273px;
        }
    }

    @media screen and(max-width: 768px) {
        &__number1:after,
        &__number2:after {
            width: 240px;
        }

        &__info:first-child img {
            margin-bottom: 43px;
        }
    }

    @media screen and(max-width: 414px) {

        &__info {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            min-width: 100%;
        }

        &__number1:after,
        &__number2:after {
            display: none;
        }

        &__info:first-child img {
            margin-bottom: 0;
        }


        &__header {
            margin-top: 30px;
            font-size: 29px;
            line-height: 40px;
        }
    }

 
    @media screen and(max-width: 320px) {

      &__header {
        font-size: 27px;
      }
    }
}