@import "utils";
@import "fonts";
@import "typography";
@import "ask";
@import "form";
@import "question";
@import "help";
@import "consultation";
@import "steps";


body {
  background: $c-gray;
}

.hightlight {
  color: $main-blue;
  font-weight: bold;
}