$c-gray: #eee;
$main-blue: #0063FF;
$green: #03C473;
$text-main: #454C66;
$blue:  #D2E3FF;
$bgc: #FDFEFF;
$gray: #747A88;
$light-blue: #EFF4FF;
$light-gray: #D1D5DE;
$border-color: #EDF2FD;
$white: #FFFFFF;